<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'servicos/css/styleDieta.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Pagina de dietass</title>
    <style>
        div.container {
            background-color: #ffffff;
        }

        div.container p {
            font-family: Arial;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none;
            color: #000000;
            background-color: #ffffff;
        }
    </style>
</head>

<body>

    <nav>
        {% include 'navbar.html' %}
    </nav>
    <center>
        <h1>DIETA DASH</h1>
    </center>

    

    <div class="container">
        <p>Café da manhã (7:00) </p>
        <p>1 xícara (chá) de café com leite desnatado 1 pão francês integral com 1 colher (café) de margarina 1 mamão.
        </p>
        <p>Lanche (9:00)</p>
        <p>1 maçã</p>
        <p>Almoço (12:00)</p>
        <p>Salada crua e legumes cozidos à vontade 4 colheres (sopa) de arroz 1/2 concha de feijão 1 bife médio grelhado
            1 fatia de abacaxi.</p>
        <p>Lanche da tarde (17:00)</p>
        <p>4 biscoitos integrais cream cracker 1 banana.</p>
        <p>Jantar (20:00)</p>
        <p>Salada crua e legumes cozidos à vontade 1 prato de talharim com tomate e espinafre 1 cacho pequeno de uvas.
        </p>
        <p>Ceia (23:00)</p>
        <p>1 pote de iogurte natural desnatado (200g)</p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <footer>{% include 'rodape.html' %}</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>