<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'servicos/css/styleDieta.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Pagina de dietass</title>
    <style>
        body {
            background-image: url('{% static "main/img/fundoD.png" %}');

        }
        h1{
            color: white;
        }
        div.container p {
            font-family: Arial;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none;
            color: white;
        }
    </style>

</head>

<body>

    <nav>
        {% include 'navbar.html' %}
    </nav>
    <center>
        <h1>DIETA SEM GLUTEN</h1>
    </center>

    <div class="container">
        <p>Café da manhã (7:00)</p>
        <p>1 copo (300 ml) de leite desnatado batido com 6 morangos + 1 torrada de arroz integral prensado (à venda em
            lojas de produtos naturais) com requeijão light.</p>
        <p> </p>
        <p>Lanche (9:00)</p>
        <p>1 porção de fruta (1 maçã, 1 banana, 1 fatia média de melão, 1 rodela média de abacaxi). </p>
        <p></p>
        <p>Almoço (12:00)</p>
        <p>Salada de folhas verdes à vontade com 3 col. (sopa) de cenoura crua ralada e 3 col. (sopa) de beterraba crua
            ralada temperadas com 1 col. (sobremesa) de azeite, pouco sal, limão + 2 col. (sopa) de arroz integral (ou
            quinoa em grão cozida) + 1 concha média de lentilha + 1 filé médio de carne vermelha magra (alcatra,
            patinho, filé mignon) grelhado. </p>
        <p></p>
        <p>Lanche da tarde (17:00)</p>
        <p>1 copo (200 ml) de suco de uva integral (sem açúcar) + 2 castanhas-do-pará.</p>
        <p></p>
        <p>Jantar (20:00)</p>
        <p>Salada de folhas verdes, pepino e tomate à vontade e 2 azeitonas temperados com 1 col. (sobremesa) de azeite,
            pouco sal, limão + 1 filé médio de peixe assado ou grelhado com ervas.</p>
        <p></p>
        <p>Ceia (23:00)</p>
        <p>2 castanhas-do-pará. </p>
        <p></p>
        <p>https://boaforma.abril.com.br/dieta/dieta-sem-gluten-para-enxugar-3-quilos-em-9-dias/</p>
        <p></p>
    </div>
    <footer>{% include 'rodape.html' %}</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>