<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'servicos/css/styleDieta.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Pagina de dietass</title>
    <style>
        body {
            background-image: url('{% static "main/img/fundoD.png" %}');

        }
        h1{
            color: white;
        }
        div.container p {
            font-family: Arial;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none;
            color: white;
        }
    </style>
</head>

<body>

    <nav>
        {% include 'navbar.html' %}
    </nav>
    <CENTER>
        <h1>VEGANA</h1>
    </CENTER>

    
    

    <div class="container">
        <p>Café da manhã (7:00) </p>
        <p>300 ml de leite vegetal de aveia batido com morango e banana + 1 col de sopa de farinha de linhaça.</p>
        <p></p>
        <p>Lanche (9:00)</p>
        <p>1 banana em rodelas com 1 col de sopa de pasta de amendoim.</p>
        <p></p>
        <p>Almoço (12:00)</p>
        <p>100 gramas de macarrão integral com bolonhesa de proteína de soja + salada de espinafre, alface, tomate e
            beterraba ralada temperados com 1 col sobremesa de óleo de linhaça + 1 copo de limonada.</p>
        <p></p>
        <p>Lanche da tarde (17:00)</p>
        <p>Pão sírio com guacamole de 1/2 abacate com cebola, tomate, azeite, suco de limão, sal e pimenta</p>
        <p>Jantar (20:00)</p>
        <p>Um hambúrguer de lentilha + quinoa cozida + vagem, cenoura e acelga refogados no azeite + 1 fatia média de
            mamão</p>
        <p></p>
        <p>Ceia (23:00)</p>
        <p>1 iogurte de soja + 1 colher de semente de girassol + 1 fatia de pão integral com pasta de berinjela</p>
        <p></p>
        <p></p>
        <p>https://www.tuasaude.com/veganismo/</p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <footer>{% include 'rodape.html' %}</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>