<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'servicos/css/styleDieta.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Pagina de dietass</title>
    <style>
        body {
            background-image: url('{% static "main/img/fundoD.png" %}');

        }
        h1{
            color: white;
        }
        div.container p {
            font-family: Arial;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none;
            color: white;
        }
    </style>
</head>

<body>

    <nav>
        {% include 'navbar.html' %}
    </nav>
    <center>
        <h1>DIETA SEM AÇUCAR</h1>
    </center>



    <div class="container">
        <p>Café da manhã (7:00)</p>
        <p>1 xícara (chá) de chá-verde sem açúcar + 1 omelete feito com 2 ovos e tempero, como cebola, tomate, pimenta e
            cheiro-verde a gosto. </p>
        <p></p>
        <p>Lanche (9:00)</p>
        <p>1 castanha de caju + 1 noz + 1 amêndoa. </p>
        <p></p>
        <p>Almoço (12:00)</p>
        <p>Salada de folhas à vontade temperada com 1 colher (sobremesa) de azeite e limão + 1 prato (sobremesa) de
            brócolis cozido al dente + 1 filé de carne magra com cebola e cheiro-verde. </p>
        <p></p>
        <p>Lanche da tarde (17:00)</p>
        <p>1 iogurte natural sem açúcar com 1 colher (sopa) de chia. </p>
        <p></p>
        <p>Jantar (20:00)</p>
        <p>Refogado com 1 xícara (chá) de frango em cubos, 1 pimentão amarelo, 1 berinjela e 1 cebola + salada de folhas
            à vontade.</p>
        <p> </p>
        <p>Ceia (23:00)</p>
        <p>4 amêndoas. </p>
        <p></p>
        <p>https://claudia.abril.com.br/dieta/dieta-detox-sem-acucar-no-cardapio-por-21-dias/</p>
        <p></p>
        <p></p>
    </div>
    <footer>{% include 'rodape.html' %}</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>