<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'servicos/css/styleDieta.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Pagina de dietass</title>
    <style>
        div.container {
            background-color: #ffffff;
        }

        div.container p {
            font-family: Arial;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none;
            color: #000000;
            background-color: #ffffff;
        }
    </style>
</head>

<body>

    <nav>
        {% include 'navbar.html' %}
    </nav>

    <center>
        <h1>VEGETRIANA</h1>
    </center>

    <div class="container">
        <p>Café da manhã (7:00) </p>
        <p>Smoothie proteico 2: 1 copo pequeno (150 ml) de bebida vegetal (caju ou amêndoa) batido com 1 col. (sopa) de
            suplemento de proteína de arroz com ervilha, 1 banana média congelada.</p>
        <p>Lanche (9:00)</p>
        <p>3 bolachas pequenas de arroz integral com tofu amassado, cúrcuma e sal.</p>
        <p>Almoço (12:00)</p>
        <p>Macarrão com grãos e vegetais: 2 col. (de servir) de penne integral cozido al dente, 3 col. (sopa) de
            grão-de-bico cozido, 1/2 xíc. (chá) de tomate-cereja, 1/2 xíc. (chá) de abóbora japonesa em cubos.</p>
        <p></p>
        <p>Lanche da tarde (17:00)</p>
        <p>4 rodelas de batata-doce cozida.</p>
        <p></p>
        <p>Jantar (20:00)</p>
        <p> 1 crepioca de beterraba.</p>
        <p></p>
        <p>Ceia (23:00)</p>
        <p>1 pote de iogurte grego natural desnatado com 1 col. (sopa) de granola.</p>
        <p></p>
        <p>https://boaforma.abril.com.br/dieta/cardapio-vegetariano-para-perder-gordura-e-ganhar-musculo/</p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <footer>{% include 'rodape.html' %}</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>