<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/styleIndex.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>HYGEIA-SAÚDE</title>
    <style>
        .btnl{
            background-color: black !important; 
            color:  white;
            width: 170px;
            background:linear-gradient(to bottom, #0D5673 19%, #7DCCB5 100%);
            background-color:#66ffe6;
            border-radius:10px;
            border:1px solid #4e6096;
            display:inline-block;
            cursor:pointer; 
            color:#ffffff;
            font-family:Arial;
            font-size:23px;
            text-decoration:none;
            height: 50px;
            margin-top: 4%;

        }
        .btnl:hover {
            background:linear-gradient(to bottom, #476e9e 5%, #66ffe6 100%);
            background-color:#476e9e;
        }
        .btnl:active {
            position:relative;
            top:1px;
        }
    </style>
</head>

<body style="background-color: white;">

    {% include 'navbar.html' %}

    <main>
        <section id="headline-img">
            <img id="img-a" src="{% static 'main/img/Index-img.png' %}" alt="">
        </section>
        <section class="flex-cont">
            <div class="flex-items">
                <img id="img-teste" src="{% static 'main/img/smart.png' %}" alt="">
            </div>
            <div class="flex-items">
                <h3>
                    OBJETIVOS DA EMPRESA
                </h3>
                <p class="obj">
                    A Hygia tem a missão e a vontade de melhorar a qualidade de vida da população, auxiliando profissionais da saúde a prestarem apoio ao consumidor final em diferentes vertentes da área da saúde.  O objetivo da empresa tem seus ideais definidos em cima do método SMART, uma forma de definir e priorizar os próximos passos da mesma. Mas ao final das contas o que é esse método SMART?
                </p>
                <p class="obj">
                    S — Specific, ou específica
                    Para que se consiga alcançar o que foi proposto em uma meta, é necessário que todos os envolvidos tenham claro entendimento do que se trata. Para isso, ela deve ser específica.

                    M — Measurable, ou mensurável
                    Como criar uma meta se ela não pode ser medida? Isso não faria nenhum sentido.

                    Imagine que você quer aumentar a satisfação dos clientes com a sua marca. Porém, você não faz essa avaliação, não tem uma pesquisa de satisfação. Então, você não conseguiria acompanhar o desempenho das ações e dizer que a meta foi alcançada.

                    A — Attainable ou atingível
                    Do que adianta criar uma meta se ela não pode ser atingida? Apesar de parecer óbvio, muitas empresas pecam nesse ponto.

                    R — Relevant, ou relevante
                    Quando você cria uma meta e designa responsáveis, serão elaboradas estratégias para que os resultados sejam alcançados. Porém, quanto mais relevante for a meta, mais motivados estarão os envolvidos. Claro, considerando que sejam metas alcançáveis.

                    T — Time based, ou temporal
                    O último ponto das metas SMART é extremamente importante. Qualquer meta traçada deve ter prazo. Se você cria uma e não estabelece um tempo para a sua realização, ele pode ser alcançado em 1 dia, 1 mês, 1 ano.
                </p>
            </div>
        </section>
        <section id="inspiracoes" class="flex-container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'main/img/corrida.png' %}" class="imgI" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'main/img/bolt3.png' %}" class="imgI" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'main/img/phelps2.png' %}" class="imgI" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
        <section id="his" class="flex-items">
            <h3>Cronologia HYGIA</h3>
            <p>
                Fundada em 2011 em uma pequena cidade no interior de São Paulo, denominada de São Roque, a Hygia cresceu
                e se tornou uma das mais influentes prestadoras de serviço referente a saúde, tendo clientes satisfeitos
                em todas as partes do Brasil. Em primeira instância, a empresa surgiu como um trabalho de programação na
                faculdade, mas foi notado que existia a possibilidade de crescer dentro do mesmo nicho.
                Os Fundadores, João Orlandini, Leonardo Gonçalves, Christopher Juliato, Gustavo Passos, e Giovana
                Merguizo tem a utopia de revolucionar o mercado da saúde.
            </p>
            <p>
                A empresa, anteriormente denominada de "Boa Saúde", recebeu o reconhecimento nacional em 2015, quando
                foi apresentada como um exemplo em uma comissão da ONU (Organização das Ações Unidas), representando o
                número 3 (saúde de qualidade).
                Em 2018 a Hygia foi adquirida pela VALE, onde a mesma sofreu uma alta em seu valor e no ano seguinte foi
                apresentada a bolsa de valores.
            </p>
            <p>
                Em 2022 foi mudada a sua sede para São Paulo e os trabalhos continuam sendo desenvolvidos da forma mais
                eficaz possível. Hoje prestamos serviços para grandes empresas e órgãos como Microsoft, grupo Votorantim
                e o SUS.
                
            </p>
        </section>
        <section class="time">
            <div class="container">
                <div class="nosso-time">
                    <h2>Nosso time</h2>
                    {% comment %} <h3>BLABLABLABLABAL</h3> {% endcomment %}
                </div>
                <div class="p1" >
                    <h4>Christopher</h4>
                    <img src="{% static 'main/img/foto chris.png' %}" alt="" style="width: 150px;">
                    <a class="btnl"  href="https://www.linkedin.com/in/christopher-juliato-14a898250/" role="button" target="_blank">Linkedin</a>
                </div>
                <div class="p2" >
                    <h4>Gustavo</h4>
                    <img src="{% static 'main/img/foto guzinho.png' %}" alt="" style="width: 150px;">
                    <a class="btnl"  href="https://www.linkedin.com/in/gustavo-passos-899502226/" role="button" target="_blank">Linkedin</a>
                </div>
                <div class="p3" >
                    <h4>Giovana</h4>
                    <img src="{% static 'main/img/foto gih.png' %}" alt="" style="width: 150px;">
                    <a class="btnl"  href="https://www.linkedin.com/in/giovana-merguizo/" role="button" target="_blank">Linkedin</a>
                </div>
                <div class="p4" >
                    <h4>João</h4>
                    <img src="{% static 'main/img/foto joao.png' %}" alt="" style="width: 150px;">
                    <a class="btnl"  href="https://www.linkedin.com/in/joão-luiz-orlandini-alves-a48585257/" role="button" target="_blank">Linkedin</a>
                </div>
                <div class="p5" >
                    <h4>Leonardo</h4>
                    <img src="{% static 'main/img/foto leonardo.png' %}" alt="" style="width: 150px;">
                    <a class="btnl"  href="https://www.linkedin.com/in/leonardo-barbosa-gonçalves-227066231/" role="button" target="_blank">Linkedin</a>
                </div>
            </div>
        </section>
    </main>




    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {% include 'rodape.html' %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>