* {
    box-sizing: border-box;
}

#img-a {
    width: 100%;
    height: auto;
}
 
.flex-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 5%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 5%;
}

.flex-items:nth-child(1) {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background: linear-gradient(to bottom, #0D5673 19%, #7DCCB5 100%);
}

#img-teste {
    margin-left: 15%;
    margin-top: 35%;
    max-width: 60%;
    border-radius: 64% 36% 77% 23% / 100% 69% 31% 0%;
}

.flex-items:nth-child(2) {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background: linear-gradient(to bottom, #0D5673 19%, #7DCCB5 100%);
    color: white;
}

h3 {
    text-align: center;
}

.obj {
    text-align: justify;
    text-decoration: none;
    margin: 5%;
}

.flex-items:nth-child(3) {
    margin-top: 5%;
    margin-bottom: 0%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    color: white;
    background: linear-gradient(to bottom, #0D5673 19%, #7DCCB5 100%);
}


#his {
    margin-top: 5%;
    width: 100%;
    background: linear-gradient(to bottom, #0D5673 19%, #7DCCB5 100%);
}
#his h3{
    color: white;
}

#his p{
    margin: 3%;
    text-align: justify;
    color: white;
}

#inspiracoes{
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imgI{
    margin: auto;
}

.time {
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nosso-time nosso-time nosso-time nosso-time nosso-time nosso-time nosso-time nosso-time nosso-time nosso-time"
        "p1 p1 p2 p2 p3 p3 p4 p4 p5 p5"
        "p1 p1 p2 p2 p3 p3 p4 p4 p5 p5"
        "p1 p1 p2 p2 p3 p3 p4 p4 p5 p5";
    text-align: center;
}

.nosso-time {
    grid-area: nosso-time;
    margin-bottom: 5%;
    
}

.p1 {
    grid-area: p1;
    width: 10%;
    flex: 15%;
    width: 100%;
}

.p2 {
    grid-area: p2;
    width: 10%;
    flex: 15%;
    width: 100%;
}

.p3 {
    grid-area: p3;
    width: 10%;
    flex: 15%;
    width: 100%;
}

.p4 {
    grid-area: p4;
    width: 10px;
    flex: 15%;
    width: 100%;
}

.p5 {
    grid-area: p5;
    flex: 15%;
    width: 100%;
    
}

.btnl{
    background-color: black !important; 
    color:  white;
}

