*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url('/static/main/img/Fundo.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    
}


.container{
    -webkit-box-shadow: 1px 1px 6px 8px rgba(0,0,0,0.65); 
    box-shadow: 1px 1px 6px 8px rgba(0,0,0,0.65);
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    background-color: white;
}

